* {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/* Stle rest */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/*Importing fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

/*Making all fonts Roboto Mono*/
*{
    font-family: 'Roboto Mono', monospace;
}


header{
    border-color: blue;
    border-style: solid;
    border-width: thin;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 100%%;
    height: 20%
    margin-top: 50px;
}

nav {
    border-color: red;
    border-style: solid;
    border-width: thin;
    height: 200px; 
    padding-left: 100px; 
    }

nav a{
    color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 50px;
    }

.buttons{
    margin-top: 50px;
}

/*coloring the nav buttons top and bottom */
.plan{
    background-color:#FF764E;
}
.learn{
    background-color: #5ED3EB;
}
.involved{
    background-color: #FFCD69;
}

div.top{
    border-color: blueviolet;
    border-style: solid;
    border-width: thin;
    
    }

/*Placing the H1 */
h1.yosemiteTitle {
    display: inline-block;
    font-family: 'Chelsea Market', cursive;
}

/*Placing the logo */
.logo{
    display: inline-block;
    margin: 10px;
}

p.underTitle {
    text-align: center;
    margin-top: 50px;
}




/*Manipulating the logo*/
.logo{
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


.intro{
    background-color: #DDB9A3;
    width: 50%;


}

.footerImage{
  width :100%;
  height: 360px;
}